<div class="relative z-30 flex flex-col justify-center h-screen">
    <h2 class="text-white">
        Descubre el mundo
    </h2>
    <h1 class="text-white">
        Libera todo tu potencial
    </h1>
</div>


<div class="absolute top-0 h-full w-full z-10">
<video muted loop autoplay="autoplay" class="h-full w-full object-cover object-center">    
    <source src="bg-video-3.mp4" type="video/mp4">
</video>
</div>