
<div class="backdrop-brightness-50 relative z-30 flex flex-col justify-end h-screen px-8 lg:px-16 overflow-hidden">
    <h2 style="font-family: Onest Variable;" class="text-white text-3xl lg:text-5xl font-thin" >Discover the world</h2>
    <h1 class="mb-32 text-5xl lg:text-7xl font-black text-white">Unleash your full potential</h1>
</div>


<div class="absolute top-0 h-full w-full z-10">
<video muted loop autoplay class="h-full w-full object-cover object-center">    
    <source src="bg-video-3.mp4" type="video/mp4">
</video>
</div>