---
import Hamburguer from '../icons/Hamburguer.astro'
---

<Hamburguer/>

<nav class="hidden sm:block md:block lg:block">
    <ul class="flex gap-6">
        <li><a href="">Inicio</a></li>
        <li><a href="">Programas</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
</nav>